.new-cost {
  background-color: #aac4d1;
  color: #58183b;
  padding: 1rem;
  margin: 2rem auto;
  width: 70rem;
  max-width: 95%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.new-cost input {
  outline: none;
  color: #58183b;
}

.new-cost button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #f3f3f3;
  background-color: #871a36;
  color: #fcfcfc;
  border-radius: 10px;
  margin-right: 3px;
}

.new-cost button:hover,
.new-cost button:active {
  background-color: #962844d5;
  border-color: #871a36;
}
